# {{ ansible_managed }}

uberspace_{{ user }}_r:uberspace_{{ user }}_t:s0  uberspace_{{ user }}_r:uberspace_{{ user }}_t
system_r:crond_t                                  uberspace_{{ user }}_r:uberspace_{{ user }}_t
system_r:initrc_su_t                              uberspace_{{ user }}_r:uberspace_{{ user }}_t
system_r:local_login_t                            uberspace_{{ user }}_r:uberspace_{{ user }}_t
system_r:remote_login_t                           uberspace_{{ user }}_r:uberspace_{{ user }}_t
system_r:sshd_t                                   uberspace_{{ user }}_r:uberspace_{{ user }}_t
