# {{ ansible_managed }}

anotheruser_r:anotheruser_t:s0  anotheruser_r:anotheruser_t
system_r:crond_t                anotheruser_r:anotheruser_t
system_r:initrc_su_t            anotheruser_r:anotheruser_t
system_r:local_login_t          anotheruser_r:anotheruser_t
system_r:remote_login_t         anotheruser_r:anotheruser_t
system_r:sshd_t                 anotheruser_r:anotheruser_t
